header{
  padding: 0;
}

h1{
  color: white;
  padding: 100px 0;
}

.main{
  padding: 100px 0;
}

.admin-nav{
  background-color: #022244;
}

.admin-nav-link{
  color: grey;
}

.nav-tabs > li > a.active{
  border-top-style: solid !important;
  border-top-color: #4a9eef !important;
  border-top-width: medium;
}

.file-tease-top-block{
  border-bottom-style: solid;
  border-bottom-color: #4a9eef;
}

.data-record{
  height: 250px;
  width: 150px;
  margin-bottom: 30px;
  background-color: #4a9eef;
}

.download-buttons, .add-school-button{
  padding-bottom: 50px;
}

.school{
  transition: box-shadow .3s;
  margin: 10px;
}

.school:hover{
   box-shadow: 0 0 14px rgba(33,33,33,.2);
}

.footer-school, .header-school{
  padding: 20px 0;
}

.footer-school-element{
  padding: 0 5px;
}
