body {
  font-family: TT Commons, sans-serif;
}

section {
  padding: 50px 0;
}

img {
  height: 500px;
  width: auto;
}

header {
  padding-bottom: 100px;
  background-color: #4a9eef;
}

.navbar-brand, .nav-link{
  color: white;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
}

#image {
  height: 500px;
  background-image: url(63730969.jpg);
}

main {
  padding: 50px 0;
  background-color: #eff0f2;
}

footer {
  height: 400px;
  background-color: #022244;
}

.btn-outline-primary.btn-custom{
  background-color: #4a9eef;
  border-color: white;
  color: white;
}
