{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='base.css') }}">
{% endblock %}

{% block body %}
<header class="container-fluid">
  {% block header %}
  <div class="container">
    <nav class="navbar navbar-expand-sm row">
      <a class="navbar-brand col-3" href="{{ url_for('main.index') }}">dedale</a>
      <ul class="navbar-nav col-6">
          <li class="nav-item">

          </li>
      </ul>
    </nav>
    {% if header_title == 'True' %}
    <h1 class="home-title">
      {% block titre %}
      La solution la plus facile pour la protection de
      vos documents contre la falsification.
      {% endblock %}
    </h1>
    {% endif %}
  </div>
  {% endblock header%}
</header>

<!-- bootstap body -->
{{ super() }}

<footer>
  {% block footer%}
  <div class="row justify-content-center">
      <div class="col-10">
        <p class="contact">
          <strong class="footer-title">Contactez-nous</strong><br><br>
          email: dedalexyz@gmail.com<br>
          phone: +243 997028901
        </p>
      </div>
  </div>
  {% endblock footer%}
</footer>
{% endblock body%}
