{% extends "base.html" %}

{% block content%}
<main class="container-fluid">
  <section class="why-dedale row align-items-center">
    <p class="col-md-5 offset-md-1">
      Docker provides container software that
      is ideal for developers and teams looking to get started
      and experimenting with container-based applications.
      Docker Desktop provides an integrated container-native
      development experience; it launches as an application
      from your Mac or Windows toolbar and provides
      access to the largest library of community and
      certified Linux and Windows content from Docker Hub.
      Still trying to learn more about containers and the difference
      between a container and a VM? Find out what's possible with Docker Containers.
    </p>
    <div id="image" class="col-md-5 offset-md-1"></div>
  </section>
  <section class="dedale-difference row mt-lg-2">
    <div id="image" class="col-md-5"></div>
    <p class="col-md-5 offset-md-1">
      Docker provides container software that
      is ideal for developers and teams looking to get started
      and experimenting with container-based applications.
      Docker Desktop provides an integrated container-native
      development experience; it launches as an application
      from your Mac or Windows toolbar and provides
      access to the largest library of community and
      certified Linux and Windows content from Docker Hub.
      Still trying to learn more about containers and the difference
      between a container and a VM? Find out what's possible with Docker Containers.
    </p>
  </section>
</main>
{% endblock content%}
