{% extends "bootstrap/base.html" %}

{% block content%}
<body>
  <header class="container">
    <nav class="navbar navbar-expand-lg row">
      <a class="navbar-brand col-3" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse row" id="navbarNav">
        <ul class="navbar-nav col-lg-10">
            <li class="nav-item active">
              <a class="nav-link" href='#'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='#'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='#'>Home</a>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-primary">Get Started</button>
     </div>
    </nav>
  </header>
  <footer>
  </footer>
</body>
{% endblock %}
