{% extends "base.html" %}

{% block content%}
<main class="container-fluid">
  <section class="why-dedale row align-items-center">
    <div id="image1" class="col-md-5 offset-md-1 order-md-12"></div>
    <div class="col-md-5 offset-md-1 order-md-1">
      <h1 class="section-title">Falsification et Usurpation d'identité</h1>
      <p class="section-text">
        Taper comment falsifier produit plus de quatres
        millions de résultats dans un moteur de recherche.<br>
        Il suffit d'avoir une imprimante et un ordinateur
        pour produire une copie parfaite d'un document à
        l'oeil humain.<br>
        Pour les professionnels la falsification et l'usurpation
        d'identité sont devenues des business viable.
      </p>
    <div>
  </section>
  <section class="dedale-difference row mt-lg-2 align-items-center">
    <div id="image2" class="col-md-5"></div>
    <div class="col-md-5 offset-md-1">
      <h1 class="section-title">La Solution de Dedale</h1>
      <p class="section-text">
        Notre solution est de générer à partir des donnéés sur un
        document un code unique scannable par un smartphone pour
        prouver l'authenticité du document depuis n'importe quel
        position géographique sur la planète.
      </p>
    <div>
  </section>
</main>
{% endblock content%}
