{% extends "baseadmin.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% set active_page = "datas" %}

{% block content %}
{{ super() }}

<div class="container">
  <section class="main">
    <div class="download-buttons row justify-content-center">
      <!--section avec le bouton et le formulaire d'upload-->
      <div class="left-buttons col-3">
        <!--le bouton pour ajouter un etudiant-->
        <label class="btn btn-outline-primary btn-lg col-12" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
          <i class="fas fa-plus fa-padding-right"></i>
          Add student
        </label>
        <!--formulaire pour upload un fichier excel-->
        <form method=POST enctype=multipart/form-data action="{{ url_for('auth.upload_file', id=school_id) }}" class="col-12">
          <label class="btn btn-default btn-file">
            add students from file<input type="file" id="addStudents" name="file" style="display: none;">
          </label>
          <label class="custom-file-label" for="addStudents">Choose file</label>
          <button type="submit" class="btn btn-primary btn-lg">Envoyer le fichier</button>
        </form>
      </div>

      <!--section avec le bouton de telechargement-->
      <div class="right-buttons col-3">
          <a href="{{ url_for('auth.download_file', id=school_id) }}" class="btn btn-success btn-lg">Download PDF</a>
      </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{ wtf.quick_form(form) }}
          </div>
        </div>
      </div>
    </div>

    <table class="table">
      <caption>List of student</caption>
      <thead>
        <tr>
          <th width="10%">#</th>
          <th width="20%">Prenom</th>
          <th width="20%">Nom</th>
          <th width="20%">Post-nom</th>
          <th width="15%">Supprimer</th>
          <th width="15%">Modifier</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <th scope="row">{{ student.id }}</th>
          <td>{{ student.forename }}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>
            <a href="{{ url_for('auth.delete_student', id=student.id) }}">
              <i class="fas fa-trash"></i>Delete
            </a>
          </td>
          <td>
            <a href="{{ url_for('auth.edit_student', id=student.id) }}">
              <i class="fas fa-pencil-alt"></i>Edit
            </a>
          </td>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock content%}

{% block titre %}
  Administration des données d'étudiants
{% endblock%}
